@font-face{ 
	font-family: 'FeijoaWeb-Display';
	src: url('../webfonts/FeijoaWeb-Display.eot');
	src: url('../webfonts/FeijoaWeb-Display.eot?#iefix') format('embedded-opentype'),
	     url('../webfonts/FeijoaWeb-Display.woff') format('woff'),
	     url('../webfonts/FeijoaWeb-Display.ttf') format('truetype'),
	     url('../webfonts/FeijoaWeb-Display.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'FeijoaWeb-Medium';
	src: url('../webfonts/FeijoaWeb-Medium.eot');
	src: url('../webfonts/FeijoaWeb-Medium.eot?#iefix') format('embedded-opentype'),
	     url('../webfonts/FeijoaWeb-Medium.woff') format('woff'),
	     url('../webfonts/FeijoaWeb-Medium.ttf') format('truetype'),
	     url('../webfonts/FeijoaWeb-Medium.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'FeijoaWeb-MediumItalic';
	src: url('../webfonts/FeijoaWeb-MediumItalic.eot');
	src: url('../webfonts/FeijoaWeb-MediumItalic.eot?#iefix') format('embedded-opentype'),
	     url('../webfonts/FeijoaWeb-MediumItalic.woff') format('woff'),
	     url('../webfonts/FeijoaWeb-MediumItalic.ttf') format('truetype'),
	     url('../webfonts/FeijoaWeb-MediumItalic.svg#webfont') format('svg');
}