html{
}

body{
font-family: 'FeijoaWeb-Medium', sans-serif;
margin:0px !important;
padding:0px;
}

.content{
margin-top:80px;
margin-bottom:80px;
}

h2{
	font-family: 'FeijoaWeb-Display', serif;
	font-size: 40px;
	margin-bottom: 20px;
}

.row{
margin:0px;
padding: 20px;
}

p{
font-size: 16px;
margin-bottom: 20px;
}

i{
	margin-right: 8px;
}

a.button{
	display: inline-block;
	border: 0px solid black;
	padding: 12px 25px;
	margin-bottom: 40px;
	background: #e30000;
	color: white;
	text-transform: uppercase;
    border-radius: 3px;
    letter-spacing: 0.2em;
    font-size: 12px;
}

a.button:hover{
	background: #f53838;
}


a {
font-size: 16px;
}

a:hover{
text-decoration:none;
}


/* ------------------------ Header */

.header{
border-bottom: 1px solid #EEE;
text-align:center;
height: 100px;
}

.back-button{
	border-right: 1px solid #EEE;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100px;
    z-index: 100;
    padding: 43px 25px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 11px;
}

.back-button:hover{
	background: #EEE;
	text-decoration:none;
}

.header .back-button a{
	
	}
	
.logo img{
	width: 250px;
	margin: 0 auto;
	}

/* ------------------------ Banner */

.banner{
	padding: 40px;
}

.cover img{
	border: 1px solid #EEE;
}

/* ------------------------ Retailers */

.availability{
	background: #DFDEED;
    text-align: center;
    padding-bottom: 0px;
    font-size: 13px;
    color: #707070;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding-top: 40px;
}

.availability .row{
padding-top:40px;
}

.availability img{
	width: 80%;
}


/* ------------------------ sketches */


.sketches{
	padding: 80px 0;
	background: url("../images/koala-bg.jpg") no-repeat right bottom;
	background-size: 300px;
	border-bottom: 1px solid #EEE;
}

.sketches .cover img{
	width: 500px;
}

.pretitle{
	text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 12px;
    color: #AAA;
}





/* ------------------------ printing */

.printing{
background: #f2f6fa;
}

.printing .row{
}

.printing .spread{
}

.printing img{
position: absolute;
right: 0;
width: 1024px;
}

.printing ul{
margin-left:0px;
margin-top: 20px;
margin-bottom: 30px;
padding:0px;
list-style-type: none;
}

.printing ul li{
font-size: 18px;
margin:0px;
padding: 0px;
font-variant: small-caps;
}

.printing i{
	margin-right: 8px;
}


@media (max-width: 768px) { 
	.content{
	margin:20px;
	}
	
	.printing img{
	width: 100%;
	position:relative;
	}
 }
 
 
 @media (max-width: 560px) { 
	.back-button{
	display:none;
	}
 }
 
 
 




/* ------------------------ testimonial */

.testimonials{
background: #b5dae1;
text-align:center;
height:425px;
}

.testimonials .content{
margin:0px;
position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}




