html{
}

body{
font-family: 'FeijoaWeb-Medium', sans-serif;
margin:0px !important;
padding:0px;
}

.row{
padding: 20px;
}


.content{
margin-top:80px;
margin-bottom:80px;
}

h2{
	font-family: 'FeijoaWeb-Display', serif;
	font-size: 40px;
	margin-bottom: 20px;
}

p{
font-size: 16px;
}

a.button{
	display: inline-block;
	border: 0px solid black;
	padding: 12px 25px;
	margin-bottom: 40px;
	background: #e30000;
	color: white;
	text-transform: uppercase;
    border-radius: 3px;
    letter-spacing: 0.2em;
    font-size: 12px;
}


/* ------------------------ Header */

.header{
border-bottom: 1px solid #EEE;
text-align:center;
height: 100px;
}

.back-button{
	border-right: 1px solid #EEE;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100px;
    z-index: 100;
    padding: 43px 25px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 11px;
}

.back-button:hover{
	background: #EEE;
	text-decoration:none;
}

.header .back-button a{
	
	}
	
.logo img{
	width: 250px;
	margin: 0 auto;
	}

/* ------------------------ Banner */

.banner{
	padding: 40px;
}

.cover img{
	border: 1px solid #EEE;
}

/* ------------------------ Retailers */

.availability{
	background: #DFDEED;
	text-align: center;
}

.availability img{
	width: 80%;
}


/* ------------------------ sketches */


.sketches{
	padding: 80px 0;
	background: url("../images/koala-bg.jpg") no-repeat right bottom;
	background-size: 300px;
	border-bottom: 1px solid #EEE;
}

.sketches .cover img{
	width: 500px;
}

.pretitle{
	text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 12px;
    color: #AAA;
}





/* ------------------------ printing */

.printing{
background: #f2f6fa;
}


/* ------------------------ testimonial */

.testimonials{
background: #b5dae1;
text-align:center;
}




