html{
}

body{
font-family: 'FeijoaWeb-Medium', sans-serif;
margin:0px !important;
padding:0px;
}

.customcontainer{
max-width: 1400px;
padding: 0px;
margin: 0 auto;
}

.content{
margin-top:80px;
margin-bottom:80px;
}

h2{
	font-family: 'FeijoaWeb-Display', serif;
	font-size: 40px;
	margin-bottom: 20px;
}

.row{
margin:0px;
padding: 20px;
}

p{
font-size: 16px;
margin-bottom: 20px;
}

i{
	margin-right: 8px;
}

a.button{
	display: inline-block;
	border: 0px solid black;
	padding: 12px 25px;
	background: #e30000;
	color: white;
	text-transform: uppercase;
    border-radius: 3px;
    letter-spacing: 0.2em;
    font-size: 12px;
}

a.button:hover{
	background: #f53838;
}


a {
font-size: 16px;
}

a:hover{
text-decoration:none;
}


/* ------------------------ Header */

.header{
border-bottom: 1px solid #EEE;
text-align:center;
height: 100px;
}

.back-button{
	border-right: 1px solid #EEE;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100px;
    z-index: 100;
    padding: 43px 25px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 11px;
}

.back-button:hover{
	background: #EEE;
	text-decoration:none;
}

.header .back-button a{
	
	}
	
.logo img{
	width: 250px;
	margin: 0 auto;
	}

/* ------------------------ Banner */

.banner{
	padding: 40px;
	padding-top: 100px;
	padding-bottom: 100px;
}

.cover img{
	border: 1px solid #EEE;
}

.banner .content{
	margin:20px 0 0 0;
}

.banner h3{
font-size: 16px;
color: #707070;
margin-bottom: 30px;
font-family: 'FeijoaWeb-MediumItalic', serif;
}


 @media (max-width: 767px) { 
	.banner{
	text-align:center;
	padding: 50px 0px 50px 0px;
	}
	.banner .content{
	margin: 50px 0 0 0;
	}
 }

.pretitle {
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 12px;
    color: #AAA;
}


/* ------------------------ Retailers */

.availability{
	background: #DFDEED;
    text-align: center;
    padding-bottom: 0px;
    font-size: 13px;
    color: #707070;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding-top: 50px;
}

.availability .row{
padding-top:40px;

}

.availability .innercol{
}

.availability .logo{
}

.availability img{
	width: 100%;
	display:inline-block;
	margin-bottom:25px;
}


/* ------------------------ dbl-page-spread */

.dbl-page-spread{
	background: #FFF;
	text-align:center;
	display:table;
	width:100%;
	padding: 40px 0 60px 0;
}

.dbl-page-spread .twentytwenty-container{
	width:75%;
	margin: 0 auto;
	box-shadow: 0px 0px 5px #888888;
	margin-bottom: 40px;
}

.dbl-page-spread img{
	margin:0px;
	box-shadow: 0px 0px 5px #888888
}





/* ------------------------ printing */

.printing{
background: #f2f6fa;
}

.printing .row{
}

.printing .spread{
}

.printing img{
position: absolute;
right: 60px;
width: 1000px;
}

.printing ul{
margin-left:30px;
margin-top: 20px;
margin-bottom: 30px;
padding:0px;
list-style-type: none;
}

.printing ul li{
font-size: 18px;
margin:0px;
padding: 0px;
font-variant: small-caps;
}

.printing ul li i{
	margin-right: 8px;
	color: green;
}


@media (max-width: 768px) { 
	.printing{
	padding: 50px 10px 50px 10px;
	}
	
	.content{
	margin:20px 0 20px 0;
	}
	
	.printing img{
	width: 100%;
	position:relative;
	right: 0;
	}
 }
 
 
 @media (max-width: 560px) { 
	.back-button{
	display:none;
	}
	
	.printing {
	padding: 50px 10px 50px 10px;
	}
	
	.printing img{
	width: 100%;
	position:relative;
	right:0;
	}
	
 }
 
 @media (max-width: 320px) { 
	.printing {
	padding: 50px 0px 50px 0px;
	}
	
	.printing img{
	width: 100%;
	position:relative;
	right: 0;
	}
 }
 
 
/* ------------------------ comp */
 
 .comp ol li{
 font-size: 16px;
 }
 
 
 
/* ------------------------ testimonial */

.testimonials{
background: #FFF;
text-align:center;
height:425px;
/* background: url("../images/twinkle/space-bg-2.jpg"); */
background-position: 50%;
background-size: 1920px;
display:table;
width:100%;
border-bottom: 1px solid #EEE;
}

.testimonials .logo{
width: 200px;
margin-bottom:30px;
}

.testimonials .inner{
vertical-align:middle;
}

.testimonials .content{
	box-sizing: border-box;
    margin: 0 auto;
    max-width: 50em;
}



/* ------------------------ author */

.author{
	background: url("../images/twinkle/space-bg.jpg");
	padding: 60px 0;
	position: 50% 50%;
	display:table;
	width:100%;
	color:white;
}

.author .content{
	max-width:50em;
	margin: 0 auto;
	text-align:center;
	margin-bottom:40px;
}

.author img{
	border-radius:50px;
	width: 100px;
	margin-bottom: 40px;
	text-align:center;
}

.author .cta{
	margin-top:20px;
}

.author .pretitle{

}


/* ------------------------ mailchimp Styles */

.subscribe{
background:#033351;
color: #FFF;
text-align:center;
padding-bottom:80px;
}

.subscribe label{
text-transform: uppercase;
font-weight: normal;
font-size: 12px;
letter-spacing: 0.1em;
display:block;
margin: 20px 0;
}

input.email{
width: 30em;
padding: 10px;
color: #000;
font-size: 12px;
border:none;
text-transform: uppercase;
letter-spacing: 0.1em;
}

input.button{
padding:10px;
color: #FFF;
font-size: 12px;
letter-spacing: 0.1em;
background:red;
border:none;
text-transform:uppercase;
}







